<div class="form-group">
    <label class="col-sm-2 control-label" for="question">{{__('question')}}</label>
    <div class="col-sm-10">
        <input id="question" class="form-control"
               ng-model="settings.question"
               placeholder="{{__('question')}}">
        <span class="help-block m-b-none">{{__('question_info')}}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="answer1">{{__('answer1')}}</label>
    <div class="col-sm-10">
        <input id="answer1" class="form-control"
               ng-model="settings.answer1"
               placeholder="{{__('answer1')}}">
        <span class="help-block m-b-none">{{__('answer1_info')}}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="answer2">{{__('answer2')}}</label>
    <div class="col-sm-10">
        <input id="answer2" class="form-control"
               ng-model="settings.answer2"
               placeholder="{{__('answer2')}}">
        <span class="help-block m-b-none">{{__('answer2_info')}}</span>
    </div>
</div>