<div class="form-group">
    <label class="col-sm-2 control-label" for="question">{{'question' | lang}}</label>
    <div class="col-sm-10">
        <input id="question" class="form-control"
               ng-model="settings.question"
               placeholder="{{'question' | lang}}">
        <span class="help-block m-b-none">{{'question_info' | lang}}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="answer1">{{'answer1' | lang}}</label>
    <div class="col-sm-10">
        <input id="answer1" class="form-control"
               ng-model="settings.answer1"
               placeholder="{{'answer1' | lang}}">
        <span class="help-block m-b-none">{{'answer1_info' | lang}}</span>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label" for="answer2">{{'answer2' | lang}}</label>
    <div class="col-sm-10">
        <input id="answer2" class="form-control"
               ng-model="settings.answer2"
               placeholder="{{'answer2' | lang}}">
        <span class="help-block m-b-none">{{'answer2_info' | lang}}</span>
    </div>
</div>